:root{
    --primary-color: #021b2b;
    --base-color: #ffffff;
    --accent-color: #0077ff;
    --text-color: #333;
    --base-variant: #ffffff;
    --secondary-text: #39373a;   
}
*{
    margin:0;
    padding:0;
}

.darkmode {
    --primary-color: #021b2b;
    --base-color: #121212;
    --accent-color: #0077ff;
    --text-color: #ffffff;
    --base-variant: #1e1e1e;
    --secondary-text: #b0b0b0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:20px;
    right: 20px;
}

#theme-switch svg{
    width: 30px;
    height: 30px;
    fill: var(--secondary-text);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}